[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-KDE-FactoryName=joystick

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=

Icon=joystick
Exec=/sbin/yast2 joystick 

Name=Joystick
GenericName=Configure joystick attached to sound card
GenericName[cs]=Konfigurovat joystick připojený ke zvukové kartě
GenericName[de]=An Soundkarte angeschlossenen Joystick konfigurieren
GenericName[es]=Configurar el joystick conectado a la tarjeta de sonido
Name[hu]=Botkormány
GenericName[hu]=Hangkártyához csatlakozó botkormány beállítása
GenericName[it]=Configura joystick collegato alla scheda sonora
Name[ko]=조이스틱
GenericName[ko]=사운드 카드에 내장된 조이스틱 설정
GenericName[nl]=Configureer de joystick die verbonden is met de geluidskaart
GenericName[pt]=Configurar joystick associado a placa de som
GenericName[sk]=Nastaviť joystick pripojený na zvukovú kartu
GenericName[sv]=Ställ in joystick fastsatt i ljudkort
Name[bg]=Джойстик
GenericName[bg]=Настройване на джойстика, който е свързан към звуковата карта
GenericName[da]=Konfigurere joystick tilsluttet et lydkort
GenericName[el]=Ρυθμίστε το joystick που είναι συνδεδεμένο στην κάρτα ήχου
GenericName[fr]=Configurer le joystick connecté à la carte son
Name[ja]=ジョイスティック
GenericName[ja]=サウンド・カードと接続されているジョイスティックの設定
Name[lt]=Vairalazdė
GenericName[lt]=Konfigūruoti vairalazdę, prijungtą prie garso plokštės
Name[sl]=Igralna palica
GenericName[sl]=Nastavitev igralne palice, ki je priključena na zvočno kartico
Name[tr]=Oyun çubuğu
GenericName[tr]=Ses kartına bağlı olan oyun çubuğunu yapılandırır
