[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=sound .from_menu

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=.from_menu
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=

Icon=soundcard
Exec=/sbin/yast2 sound .from_menu

Name=Sound
GenericName=Configure your sound card
Name[cs]=Zvuková karta
GenericName[cs]=Konfigurujte vaši zvukovou kartu
GenericName[de]=Konfigurieren Sie Ihre Soundkarte
Name[es]=Sonido
GenericName[es]=Configure su tarjeta de sonido
Name[hu]=Hang
GenericName[hu]=Hangkártya beállítása
Name[it]=Suono
GenericName[it]=Configura la scheda sonora
Name[ko]=사운드
GenericName[ko]=사용자 사운드 카드 설정
Name[nl]=Geluid
GenericName[nl]=Configureer uw geluidskaart
Name[pt]=Som
GenericName[pt]=Configure sua placa de som
Name[sk]=Zvuk
GenericName[sk]=Nastavenie zvukovek karty
Name[sv]=Ljud
GenericName[sv]=Ställ in ljudkort
Name[bg]=Звук
GenericName[bg]=Настройване на звуковата карта
Name[da]=Lyd
GenericName[da]=Konfigurere dit lydkort
Name[el]=Ήχος
GenericName[el]=Ρυθμίστε την κάρτα ήχου
Name[fr]=Son
GenericName[fr]=Configurer la carte son
Name[ja]=サウンド
GenericName[ja]=サウンド・カードの設定
Name[lt]=Garsas
GenericName[lt]=Konfigūruoti jūsų garso plokštę
Name[ru]=Звук
Name[sl]=Zvok
GenericName[sl]=Nastavi zvočno kartico
Name[tr]=Ses
GenericName[tr]=Ses kartınızı yapılandırır
